@import '../../../style/vars.less';

.vid-card {
  box-shadow: 0 4px 16px rgba(0,0,0,.05);
  position: relative;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  border-radius: 5px;
  overflow: hidden;
  .vid-thumb {
    height: 220px;
    position: relative;
    display: inline-flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    .lock-middle {
      position: relative;
      width: 100%;
      display: inline-flex;
      justify-content: center;
      flex-direction: column;
      .anticon {
        font-size: 32px;
        color: @white;
      }
      .ant-btn {
        font-size: 11px;
        font-family: @primary-font-bold;
      }
    }
    .card-bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: @light-grey;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
    @media screen and (max-width: @mobile-screen) {
      height: 150px;
    }
  }
  .vid-stats {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    color: @white;
    font-size: 10px;
    padding: 10px 0 10px 5px;
    font-weight: 600;
    position: absolute;
    bottom: 0;
    background-image: linear-gradient(to bottom, #04040e00 0%, rgba(60,60,60, .5) 100%);
    a {
      color: @white;
      padding-right: 10px;
    }
  }
  .vid-info {
    font-family: @primary-font-bold;
    color: @primary-color;
    background-color: @light-card;
    padding: 1em;
    text-align: center;
    font-weight: 600;
    text-transform: capitalize;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    @media screen and (max-width: @mobile-screen) {
      font-size: 11px;
    }
  }

  &:hover {
    .vid-info {
      a {
        color: @white!important;
      }
      color: @white!important;
      background-color: @primary-color;
    }
  }
  .vid-price {
    position: absolute;
    left: 0px;
    top: 10px;
    z-index: 99;
    .label-price {
      color: @white;
      background-color: @secondary-color;;
      width: auto;
      padding: 3px 15px;
      clip-path: polygon(0px 0px,0px 100%,100% 100%,90% 50%,100% 0);
      font-size: 12px;
      font-weight: 600;
      margin: 5px 0;
    }
  }
}