@import './vars.less';

.ant-layout {
  background-color: @white;
}

.theme-color {
  color: @theme-color  !important
}

.primary-color {
  color: @primary-color  !important
}

.secondary-color {
  color: @secondary-color  !important
}

.container {
  width: 100%;
  margin: auto;
}

.ant-layout-content {
  flex: auto;
  min-height: calc(100vh - 160px);
  overflow: auto;
  padding: 0;
}

.ant-layout-footer {
  padding: 7px 20px 7px;
  background-color: @light-blue;
}

.ant-drawer-close {
  z-index: 9999;
}

.ant-drawer-body {
  padding-top: 60px;
  z-index: 999;
}

.ant-form-item-explain {
  color: @dark-grey;
  text-align: center;
  font-size: 10px;
}

.ant-modal-body {
  .videojs-player {
    .video-js {
      width: 100%;
      height: 300px;
      .vjs-big-play-button {
        top: calc(50% - 24px);
        left: calc(50% - 45px);
      }
    }
  }
}

.page-container {
  padding: 50px 10px
}

.main-footer {
  padding: 10px 0;
  background-color: @light-blue;

  ul {
    display: flex;
    justify-content: center;
    margin: 5px;
    flex-wrap: wrap;
    padding: 0;

    li {
      list-style-type: none;
      margin: 0 10px;

      a {
        color: @grey-color;
        font-weight: 600;
      }
    }
  }

  .copyright-text {
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255, .2);
    margin-top: 1em;
    margin-bottom: 0;
    text-align: center;

    span,
    a {
      font-size: 0.9em;
      color: @secondary-color;
      font-weight: 500;
    }
  }
  .footer-content {
    color: @grey-color;
    background: transparent;
    text-align: center;
    border-top: 1px solid @light-grey;
    padding-top: 1em;
    p, span {
      color: @grey-color;
    }
  }

}

.ant-tabs-tabpane {
  visibility: unset !important;
  height: auto !important;
}

.container {
  padding: 0 !important;
}

.main-container {
  margin: auto;
  max-width: 1080px;
  width: 100%;
  padding: 0 5px;

  &.user-account {
    padding: 20px 5px;
  }

  &.custom {
    max-width: 720px;
  }
}

.ant-menu {
  background-color: @primary-color;
  color: @white;
}

.ant-menu-submenu-popup>.ant-menu {
  background-color: @primary-color;
  color: @white;

  a {
    color: @white;
  }
}

.infinite-scroll-component {
  overflow: unset !important;
}

.page-heading {
  margin: 20px 0;
  padding-bottom: 0px;
  font-size: 25px;
  font-weight: 600;
  color: @black;
  font-family: @primary-font-bold;
}

.paging {
  margin: 20px 0;
  display: inline-block;
  width: 100%;
}

.flex-row {
  display: flex;
  width: 100%;
  align-items: center;
}

.text-center {
  text-align: center;
}

.ant-col {
  padding: 5px;
}

.table-responsive {
  overflow-x: auto
}

.main-background {
  background-color: @main-background-color;
  padding: 5px;
  border-radius: 5px;
}

.ant-form-item {
  margin-bottom: 5px;
  .ant-input-affix-wrapper {
    padding: 0 11px;
  }
  .ant-input {
    height: 42px;
    padding: 5px 10px;
    font-weight: 500;
    font-size: 12px;
    border-radius: 5px;
    &::placeholder {
      color: @dark-grey;
    }
  }

  textarea.ant-input {
    min-height: 100px;
  }
  .ant-form-item-label {
    padding: 0 5px;
    label {
      font-size: 10px;
      height: auto;
    }
  }
  .ant-picker {
    width: 100%;
    input {
      height: 30px;
      font-size: 12px;
      padding: 0
    }
  }
}

.ant-select-selector {
  border-radius: 0.5em;
  height: 42px;
  padding: 5px 12px;
  .ant-select-selection-item {
    font-size: 12px;
    color: @grey-color;
  }
}

.ant-input-number-input-wrap {
  input {
    border-radius: 5px;
    height: 40px;
    padding: 5px 12px;
    &::placeholder {
      color: @grey-color
    }
  }
}

.ant-picker-input > input {
  height: 34px;
  padding: 0 5px;
}

.user-verification {
  .anticon {
    font-size: 25px;
    &.anticon-issues-close {
      color: @highlight-color
    }
    &.anticon-check-circle {
      color: @success-color
    }
  }
}

.ant-upload-select.ant-upload-select-picture-card {
  border: 2px solid @light-color;
  border-radius: 50%;
  background-image: url('/static/placeholder-image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  position: relative;

  img {
    margin-bottom: 10px;
    margin-bottom: 0;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .anticon {
    font-size: 18px;
    padding: 8px;
    background-color: @theme-color;
    color: @white;
    border-radius: 50%;
    position: absolute;
    bottom: 15px;
    right: -5px;
    &.anticon-edit {
      padding: 0;
      background-color: transparent;
      border-radius: 0;
      position: relative;
      top: 0;
      left: 0
    }
  }
}

.ant-tabs {
  overflow: unset !important;
}

.ant-tabs-top.nav-tabs {
  margin: 15px 0;
  margin-top: 0;

  .ant-tabs-tab {
    font-size: 15px;
    padding: 7px 15px;
    font-weight: 600;
    font-family: @primary-font-bold;
  }
}
.filter-block {
  margin-left: unset!important;
  margin-right: unset!important;
  align-items: center;
  width: 100%;

  input {
    height: 40px;
    background-color: @white;
    border: 1px solid @border-select;
    border-radius: 3px;
  }

  .ant-select-selector {
    font-weight: 400;
    line-height: 1.5;
    color: @black;
    background-color: @white;
    background-clip: padding-box;
    border: 1px solid @border-select;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    padding: 5px 11px;
    min-height: 40px;
  }

  button {
    height: 40px;
  }

  @media screen and (max-width: @mobile-screen) {
    margin-bottom: 30px;
  }
}

.title-form {
  margin-top: 30px;
  font-size: 1.5em;
  font-weight: 800;
}

.ant-btn.primary {
  background-image: linear-gradient(0deg, @theme-color, @primary-color);
  color: @white;
  -webkit-box-shadow: 0 5px 10px rgba(50, 50, 50, 0.2);
  box-shadow: 0 5px 10px rgba(50, 50, 50, 0.2);
  padding: 0.7em 2em;
  font-size: 0.9em;
  font-weight: 600;
  border-radius: 0.5em;
  height: 40px;
}

.ant-btn.success {
  background-color: @success-color;
  color: @white;
  -webkit-box-shadow: 0 5px 10px rgba(50, 50, 50, 0.2);
  box-shadow: 0 5px 10px rgba(50, 50, 50, 0.2);
  padding: 0.7em 2em;
  font-size: 0.9em;
  font-weight: 600;
  border-radius: 0.5em;
  height: 40px;
}

.ant-btn.error {
  background-color: @error-color;
  color: @white;
  -webkit-box-shadow: 0 5px 10px rgba(50, 50, 50, 0.2);
  box-shadow: 0 5px 10px rgba(50, 50, 50, 0.2);
  padding: 0.7em 2em;
  font-size: 0.9em;
  font-weight: 600;
  border-radius: 0.5em;
  height: 40px;
}

.ant-btn.secondary {
  background: linear-gradient(to bottom, @secondary-color, @warning-color);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  padding: 0.7em 2em;
  font-size: 0.9em;
  font-weight: 600;
  border-radius: 0.5em;
  height: 40px;
  color: @white;
  &.active {
    background: @success-color
  }
}

.ant-btn.secondary-custom {
  border: none;
  color: @white;
  padding: 0px 8px;
  height: 30px;
  background-color: @secondary-color;
  margin-right: 5px;
}

.ant-btn.info {
  border: none;
  color: @white;
  padding: 0px 8px;
  height: 30px;
  background-color: #17a2b8;
  margin-right: 5px;
}

.ant-btn.danger {
  border: none;
  color: @white;
  padding: 0px 8px;
  height: 30px;
  background-color: @error-color;
  margin-right: 5px;
}

.ant-picker.ant-picker-range {
  border: none;
  padding: 0;
}

.table-cart table {
  background-color: #f8f9fa;
  border-radius: 0.5em;
  overflow: hidden;
}

.cart-form input {
  height: 40px;
}

// .ant-tabs-tabpane.ant-tabs-tabpane-active {
//   max-height: 80vh;
//   overflow: auto;
// }
.ant-carousel {
  .slick-slide {
    text-align: center;
    overflow: hidden;
    height: 420px;
    line-height: 420px;

    img {
      width: 100%;
      object-fit: cover;
    }

    @media screen and (max-width: @tablet-screen) {
      height: 94px;
      line-height: 94px;
    }
  }

  .slick-prev {
    top: calc(50% - 15px);
    left: 10px;
    background-color: @theme-color  !important;
    opacity: 0.6;
    padding: 15px;
    border-radius: 50%;
    z-index: 999;

    &:hover {
      opacity: 0.9;
    }

    &::before {
      background-image: url(/static/left-arrow.png);
      background-size: 13px;
      display: inline-block;
      width: 15px;
      height: 15px;
      content: '';
      background-repeat: no-repeat;
      position: absolute;
      left: 8px;
      top: 8px;
    }
  }

  .slick-next {
    top: calc(50% - 15px);
    right: 10px;
    background-color: @theme-color  !important;
    opacity: 0.6;
    padding: 15px;
    border-radius: 50%;
    z-index: 999;

    &:hover {
      opacity: 0.9;
    }

    &::before {
      background-image: url(/static/right-arrow.png);
      background-size: 13px;
      display: inline-block;
      width: 15px;
      height: 15px;
      content: '';
      background-repeat: no-repeat;
      position: absolute;
      left: 8px;
      top: 8px;
    }
  }
}

.ant-carousel .slick-slide h3 {
  color: @white;
}

.editor {
  margin-bottom: 10px;

  .rdw-editor-toolbar {
    margin-bottom: 0;
  }

  .public-DraftStyleDefault-block.public-DraftStyleDefault-ltr {
    margin: 0;
    margin-top: 5px;
    border-radius: 3px;
    padding: 5px;
    border: solid 1px @light-grey;
    min-height: 100px;
  }
}

.streaming-status {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  position: absolute;
  bottom: 10%;
  left: 10%;
}

.private {
  background-color: @private-status-color;
}

.public {
  background-color: @public-status-color;
}

.group {
  background-color: @group-status-color;
}

.offline {
  background-color: @offline-status-color;
}

.align-right {
  text-align: right;
}

.relative {
  position: relative;
}

.vjs-poster {
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid @primary-color;
  border-radius: 5px;
}

.btn-show-more {
  position: absolute;
  top: 100%;
  right: -45px;
  transform: translate(-50%, 0);
}

.verify-info {
  padding: 15px;
  border-radius: 5px;
  text-align: center;
  color: @white;
  background-color: @highlight-color;
  p {
    margin: 0;
  }
} 

.cover-upload {
  float: right;
  margin-top: 5px;
  .ant-upload-select.ant-upload-select-picture-card {
    border-radius: 3px;
    border: 0;
    background: @secondary-color;
    width: auto;
    height: auto;
    padding: 5px 15px;
    .ant-upload {
      color: @white;
    }
  }
}
.recaptcha-box {
  display: flex;
  justify-content: center;
  align-items: center;
}